@model RecipeDetailViewModel

<div class="overview">
    <div class="row">
        <div >
            <div>
                <img src="@Model.ImageUrl" class="detail-img"/>
                <h3>@Model.Title</h3>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-2 col-lg-3">
                        @foreach (var ingredient in @Model.Ingredients)
                        {

                            <p class="ingredients-list">
                                @ingredient.Amount
                                @ingredient.Ingredient.Name
                            </p>

                        }
                    </div>
                <div class="col-sm-12 col-md-10 col-lg-9">
                    <p>@Model.Description</p>
                </div>
                <div>
                    @foreach (var rating in @Model.Ratings)
                    {
                        <p>@rating.Rating</p>
                    }

                </div>

            </div>
        </div>

        </div>
        <div class="btn-cook">
            <a class="btn nav-link" asp-area="" asp-controller="Recipe" asp-action="Steps" asp-route-id="@Model.Id">Start Cooking</a>
        </div>
    </div>
