@model RecipeDetailRatingViewModel
@inject IUserService service


@{
    double totalRating = 0;
    double averageRating = 0;
    if (Model.RecipeDetailVm.Ratings.Count == 0)
    {
        averageRating = 3.0;
    }
    else
    {
        @foreach (var rating in Model.RecipeDetailVm.Ratings)
        {
            totalRating += rating.Rating;
        }
        averageRating = totalRating / Model.RecipeDetailVm.Ratings.Count;
    }

}

<div class="overview">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-9">
            <img class="detail-img" src="@Model.RecipeDetailVm.ImageUrl" />
            @if (Model.RecipeRatingVm.User.FavoriteRecipes.Where(x => x.Id == Model.RecipeDetailVm.Id).Any())
            {
                <button class="btn-favourited"></button>
            }
            else
            {
                int userId = Model.RecipeRatingVm.UserId;
                int recipeId = Model.RecipeDetailVm.Id;

                <button class="btn-favourite" id="favButton" onclick="FavouriteClicked(@userId, @recipeId)"></button>

            }
            <hr />
            <h2 class="detail-title">
                @Model.RecipeDetailVm.Title
            </h2>
                <p class="average-rating">
                    @switch (averageRating)
                    {
                        case 1:<i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>;
                            break;
                        case 2: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>;
                            break;
                        case 3: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>;
                            break;
                        case 4: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>;
                            break;
                        case 5: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>;
                            break;
                        default:
                            break;
                    }
                    (@Model.RecipeDetailVm.Ratings.Count reviews)
                </p>
            
            <p>@Model.RecipeDetailVm.Description</p>
            <p>- @Model.RecipeDetailVm.CreatedByUser</p>
            <div class="detail-minutes">
                <div class="row detail-min-row">
                    <p class="col-sm-12 col-md-6 col-lg-6 detail-time-left">Preparation time: </p>
                    <p class="col-sm-12 col-md-6 col-lg-6 detail-time-right">Cooking time: </p>
                </div>
                <div class="row detail-min-row">
                    <p class="col-sm-12 col-md-6 col-lg-6 detail-time-left">@Model.RecipeDetailVm.PrepTimeInMin min </p>
                    <p class="col-sm-12 col-md-6 col-lg-6 detail-time-right">@Model.RecipeDetailVm.CookTimeInMin min</p>
                </div>
            </div>
            <div class="btn-cook">
                <a class="btn nav-link btn-cook-btn" asp-area="" asp-controller="Recipe" asp-action="Steps" asp-route-id="@Model.RecipeDetailVm.Id">Start Cooking</a>
            </div>
        </div>

        <div class="col-sm-12 col-md-2 col-lg-3  ">
            <div class="detail-ingredients-list">
                <h5 class="detail-ingredients-title">Ingredients:</h5>
                @foreach (var ingredient in @Model.RecipeDetailVm.Ingredients)
                {
                    <p class="detail-ingredient">
                        -@ingredient.Amount
                        @ingredient.Ingredient.Name
                    </p>

                }
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div>
                    <a class="btn nav-link btn-edit" asp-area="" asp-controller="Recipe" asp-action="Edit" asp-route-id="@Model.RecipeDetailVm.Id">Edit Recipe</a>
                </div>
                <div>
                    <a class="btn nav-link btn-edit" asp-area="" asp-controller="Recipe" asp-action="Delete" asp-route-id="@Model.RecipeDetailVm.Id">Delete Recipe</a>
                </div>
            }
        </div>
    </div>

    @if (Model.RecipeDetailVm.Ratings.Count > 0)
    {
        <hr />
        <div class="recipe-comments">
            <h3>Comments:</h3>
            @foreach (var comment in @Model.RecipeDetailVm.Ratings)
            {
                <div class="card">
                    <div class="card-body">@comment.Comment</div>
                    <div class="comment-rating">
                        @switch (comment.Rating)
                        {
                            case 1:<i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>;
                                break;
                            case 2: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>;
                                break;
                            case 3: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>;
                                break;
                            case 4: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>;
                                break;
                            case 5: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>;
                                break;
                            default:
                                break;
                        }
                    </div>
                    <div class="comment-name">- @comment.User.Name</div>
                </div>
            }
        </div>
    }
    <br />
    <hr />
    <div>
        <h3 class="mb-3">Add a comment</h3>
        <div class="addcommentsbox">
            <form asp-controller="Recipe" asp-action="Detail" method="post">
                <input value="@Model.RecipeDetailVm.Id" asp-for="RecipeRatingVm.RecipeId" hidden />
                <label asp-for="RecipeRatingVm.Rating" class="control-label"></label>
                <select asp-for="RecipeRatingVm.Rating" class="form-control w-25 mb-2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>

                <label asp-for="RecipeRatingVm.Comment" class="control-label"></label>
                <textarea class="form-control mb-3" asp-for="RecipeRatingVm.Comment" placeholder="Write your comment here"></textarea>

                <span asp-validation-for="RecipeRatingVm.Recipe" class="text-danger"></span>
                <input asp-for="RecipeRatingVm.UserId" value="@Model.RecipeRatingVm.UserId" hidden />
                <button class="btn btn-comment" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>