@model RecipeDetailRatingViewModel


<div class="overview">
    <div class="row">
        <div >
            <div>
                <img src="@Model.RecipeDetailVm.ImageUrl"/>
                <h3>@Model.RecipeDetailVm.Title</h3>
            </div>
            <div >
                <div class="float-left">
                    @foreach (var ingredient in @Model.RecipeDetailVm.Ingredients)
                    {
                        <ul>
                            <li>
                                @ingredient.Ingredient.Name
                            </li>
                        </ul>
                    }
                </div>
                <div>
                    <p>@Model.RecipeDetailVm.Description</p>
                </div>

            </div>
        </div>


    </div>
    <div class="btn-cook">
        <a class="btn nav-link" asp-area="" asp-controller="Recipe" asp-action="Steps" asp-route-id="@Model.RecipeDetailVm.Id">Start Cooking</a>
    </div>
    <div class="recipe-comments">
        <ul>
            @foreach (var comment in @Model.RecipeDetailVm.Ratings)
            {
                <li>@comment.Comment</li>
            }
        </ul>
    </div>

    <div>
        <h2>Add a comment</h2>
        <div class="addcommentbox"><form></form>
        </div>
    </div>

</div>