@model RecipeDetailViewModel

<div class="overview">
    <div>
        <img src="@Model.ImageUrl" />
        <div>@Model.Title</div>
    </div>
    <div>
        <div>
            @foreach (var ingredient in @Model.Ingredients)
            {
                <ul>
                    <li>
                        @ingredient.Name
                    </li>
                </ul>
            }
        </div>
        <div>
            <p>@Model.Description</p>
        </div>
        <div class="btn-cook">
            <a class="btn nav-link" href="#start-cooking" onclick="toggleSteps()" id="startCooking">Start Cooking</a>
        </div>
    </div>

    <div class="cooking-div" id="start-cooking">
        <a href="#" class="prev" onclick="prev()">Previous</a>
        <a href="#" class="next" onclick="next()">Next</a>
        <ul>
            @for (int i = 1; i < Model.Steps.Count; i++)
            {
                @*<div class="step-div" id="steps" onclick="toggleStepByStep()">
                    <p>Step: @i</p>
                    <p id="step-intruction">@Model.Steps[i].Instruction</p>
                </div>*@

                <li class="li">
                    <div class="step-list" id="steps" onclick="toggleStepByStep()">
                        <p>Step: @i</p>
                        <div id="step-div" onclick="myFunction()">
                            <p id="step-intruction">@Model.Steps[i].Instruction</p>
                        </div>
                    </div>
                </li>
            }

        </ul>
    </div>

</div>
