@model RecipeDetailRatingViewModel
<style type="text/css">
    .addcommentsbox { }

    .recipe-comments { }
</style>


<div class="overview">
    <div class="row">
        <div >
            <div>
                <img src="@Model.RecipeDetailVm.ImageUrl"/>
                <h3>@Model.RecipeDetailVm.Title</h3>
            </div>
            <div >
                <div class="float-left">
                    @foreach (var ingredient in @Model.RecipeDetailVm.Ingredients)
                    {
                        <ul>
                            <li>
                                @ingredient.Ingredient.Name
                            </li>
                        </ul>
                    }
                </div>
                <div>
                    <p>@Model.RecipeDetailVm.Description</p>
                </div>

            </div>
        </div>


    </div>
    <div class="btn-cook">
        <a class="btn nav-link" asp-area="" asp-controller="Recipe" asp-action="Steps" asp-route-id="@Model.RecipeDetailVm.Id">Start Cooking</a>
    </div>
    <div class="recipe-comments">
        <ul>
            @foreach (var comment in @Model.RecipeDetailVm.Ratings)
            {
                <li>@comment.Comment</li>
            }
        </ul>
    </div>

    <div>
        <h2>Add a comment</h2>
        <div class="addcommentsbox">
            <form asp-controller="Recipe" asp-action="Detail" method="post">
                <input value="@Model.RecipeDetailVm.Id" asp-for="RecipeRatingVm.RecipeId" hidden></input>

                <input asp-for="RecipeRatingVm.Comment" class="form-control" placeholder="Write your comment here"/>
                <input asp-for="RecipeRatingVm.Rating" type="number" placeholder="Rate the recipe"/>
                <span asp-validation-for="RecipeRatingVm.Recipe" class="text-danger"></span>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

</div>