@model RecipeDetailViewModel

<div class="overview">
            <div>
                <img src="@Model.ImageUrl" />
                <div><h3>@Model.Title</h3></div>
            </div>
            <div>
                <div>
                    @foreach (var ingredient in @Model.Ingredients)
                    {
                        <ul>
                            <li>
                                @ingredient.Name
                            </li>
                        </ul>
                    }
                </div>
                <div>
                    <p>@Model.Description</p>
                </div>

        </div>
        <div class="btn-cook">
            <a class="btn nav-link" asp-area="" asp-controller="Recipe" asp-action="Steps" asp-route-id="@Model.Id">Start Cooking</a>
        </div>
    </div>