@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    //ViewData["ActivePage"] = ManageNavPages.Index;
}
<div class="overview">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <div class="">
        <form id="profile-form" method="post">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control" disabled />
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label asp-for="Input.PhoneNumber"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group ">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <button id="update-profile-button" type="submit" class="btn btn-create">Save</button>
            </div>
        </form>
    </div>
    <br/>
    <hr />
    <br/>
    <h1 class="list-container">Favourite Recipes</h1>
    <div class="row recipe-row">
        @foreach (var recipe in @Model.Input.ApiUser.FavoriteRecipes)
        {

            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card overview-tile" style="width: 18rem;">
                    <a asp-area="" asp-controller="Recipe" asp-action="Detail" asp-route-id="@recipe.Id">
                        <img class="card-img-top recipe-img" src="@recipe.ImageUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="recipe-overview-text">@recipe.Title</h5>
                        </div>
                    </a>
                </div>
            </div>
        }
        @*<div>
            <ul>
                @foreach (var item in @Model.Input.ApiUser.FavoriteRecipes)
                {
                    <li>@item.Title</li>

                }
            </ul>
        </div>*@
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
